
/* TOP-BAR TOOLS
------------------------------------------------------------------------------*/
.top-bar,
.top-tools,
.top-search  {
	display: flex;
}

.top-bar {
	flex-wrap: wrap;
	flex-direction: column;
	gap: 0.5rem;
	margin: 2rem 0;
}

.top-bar input,
.top-bar button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--text);
    margin: 0 !important;
    border-radius: 2rem !important;
}

.top-bar button {
	min-width: 3rem !important;
	opacity: 0.3;	
    padding: 0;
}

.top-bar button:hover {	
	opacity: 1;
}

.top-searchx {
	margin: 0 -2rem;
	padding: 2rem;
	border: 2px solid #ddd;
	border-radius: 5rem;
	background: linear-gradient(0deg, #e7e7e7, #fff);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3) inset, 0 5px 30px rgba(0,0,0,0.1);
}
.top-search input {
	padding: 1rem 3.1rem 1rem 1.5rem !important;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3) inset, 0 5px 30px rgba(0,0,0,0.1) !important;
}

.top-search button {
	margin: 4px 0 0 -3.1rem !important;
}

.top-tools {
	justify-content: end;
}

body.empty {
	header, footer {
		display: none;
	}
	main {
		justify-content: center;
		align-items: center;
	}
	.top-search {
		margin-top: 1rem;
	}


}