<!--
    CHAT - PAGE ------------------------------- -->

<div class="page chat" id="pg-chat">
    <div class="container">
        <div class="chat-userdata" id="chat-userdata"></div>

        <img src="/img/l.gif" class="chat-loader hide" id="chat-loader" />
        <div class="chat-msg" id="chat-msg">
            <div class="chat-content" id="chat-content"></div>
        </div>
        <div class="chat-sendform">
            <div class="chat-emojis" id="chat-emojis">
                <span>&#128512;</span><span>&#128513;</span><span>&#128514;</span><span>&#128515;</span><span>&#128516;</span><span>&#128517;</span><span>&#128518;</span><span>&#128519;</span><span>&#128520;</span><span>&#128521;</span><span>&#128522;</span><span>&#128523;</span><span>&#128524;</span><span>&#128525;</span><span>&#128526;</span><span>&#128527;</span><span>&#128528;</span><span>&#128529;</span><span>&#128530;</span><span>&#128531;</span><span>&#128532;</span><span>&#128533;</span><span>&#128534;</span><span>&#128535;</span><span>&#128536;</span><span>&#128537;</span><span>&#128538;</span><span>&#128539;</span><span>&#128540;</span><span>&#128541;</span><span>&#128542;</span><span>&#128543;</span><span>&#128544;</span><span>&#128545;</span><span>&#128546;</span><span>&#128547;</span><span>&#128548;</span><span>&#128549;</span><span>&#128550;</span><span>&#128551;</span><span>&#128552;</span><span>&#128553;</span><span>&#128554;</span><span>&#128555;</span><span>&#128556;</span><span>&#128557;</span><span>&#128558;</span><span>&#128559;</span><span>&#128560;</span><span>&#128561;</span><span>&#128562;</span><span>&#128563;</span><span>&#128564;</span><span>&#128565;</span><span>&#128566;</span><span>&#128567;</span><span>&#128577;</span><span>&#128578;</span><span>&#128579;</span><span>&#128580;</span><span>&#129296;</span><span>&#129297;</span><span>&#129298;</span><span>&#129299;</span><span>&#129300;</span><span>&#129301;</span><span>&#129312;</span><span>&#129313;</span><span>&#129314;</span><span>&#129315;</span><span>&#129316;</span><span>&#129317;</span><span>&#129319;</span><span>&#129320;</span><span>&#129321;</span><span>&#129322;</span><span>&#129323;</span><span>&#129324;</span><span>&#129325;</span><span>&#129326;</span><span>&#129327;</span><span>&#129488;</span>
                <i class="material-icons">close</i>
            </div>
            <button id="chat-show-emoji"><i class="material-icons">mood</i></button>
            <div contenteditable="true" id="chat-text"></div>
            <button id="chat-send"><i class="material-icons">send</i></button>
        </div>
    </div>
</div>