<!--
    File Manager - PAGE ------------------------------- -->

<div class="page file" id="pg-file">
    <div class="container">
        <div class="breadcumbs" id="file-breadcumbs"></div>
        <ul class="file-list" id="file-list">
            <li class="file-item" data-id="234">
                <i class="material-icons">folder</i>
                <div class="file-info">
                    <div class="file-name">Nome Completo do Arquivo</div>
                    <div class="file-data">132 MB | 23/10/2020 13:55 | Geovany Solza...</div>
                </div>
            </li>
        </ul>
    </div>
</div>