<!--
    HOME - PAGE ------------------------------- -->

<div class="page home on" id="pg-home">
    <div class="container">
        <h1 id="home-title">Hello World!</h1>

        <div id="home-logout" class="hide">
            <button onclick="User.logout()">Logout</button>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam officiis fuga ratione libero animi odio
            aliquam
            consequatur. Et, dolorum fugiat quisquam fuga, accusamus voluptate commodi illum dignissimos nulla sit aut.
        </p>

    </div>
</div>