<!--
    USER - PAGE ------------------------------- -->

<div class="page user" id="pg-user">
    <div class="container">

        <form onsubmit="return false" class="user-form" id="user-form-login">

            <div class="user-logo" id="user-login-logo"></div>

            <label for="user-login">Login</label>
            <input type="text" id="user-login" placeholder="Login...">

            <label for="user-password">Senha</label>
            <input type="text" id="user-password" placeholder="Senha...">

            <div class="control">
                <button type="button" class="btn-flat">limpar memória</button>
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>