header {
	position: sticky;
    top: 0;
    background: rgb(255 255 255 / 89%);
    z-index: 400;
    box-shadow: 0 10px 30px rgb(165 165 165 / 26%);
}

header .container {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
	padding: 0 1rem;
	flex-wrap: wrap;
}

header .lef,
header .middle,
header .right {
	display: flex;
	gap: 1rem;
}

header .middle {

}
header .right {

}

header h1 {
	font-size: 1.5rem;
	font-weight: 300;
}

header .btn {
    cursor: pointer;
    font-size: 1.72rem;
	transition: 0.4s;
	opacity: 0.4;
}

header .btn:has(svg) {
	opacity: 1;
	border: 2px solid #fff;
	box-shadow: 2px 4px 15px rgba(0,0,0,0.2);
	line-height: 0;
}

header .btn,
header .btn svg {
    border-radius: 50%;
}

header .btn:hover {
	color: #139;
    opacity: 1;
}