.page.chat {}



/* ------------- TOP BAR ----------------- */
.cht-top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 54px;
    padding: 0;
    background: var(--color-5);
    color: var(--color-2);
    box-shadow: var(--elevation-1);
}

.cht-top-bar .avatar {
    width: 38px;
    margin: 0 .5rem 0 1rem;
}

.cht-top-bar .avatar img {
    width: 100%;
}

.cht-top-bar .data {
    display: flex;
    flex: 1;
    padding: 0;
}

.cht-top-bar .data h2 {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.cht-top-bar .icon {
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cht-top-bar .icon i {
    cursor: pointer;
}


/* --------------- MESSAGES ---------------- */
.cht-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 1rem;
    margin: 0 0 78px 0;
    overflow-x: auto;
}

.cht-msg {
    margin: 0 0 1rem 0;
    max-width: 80%;
    /* font-size: .9rem; */
}

.cht-msg.me {
    align-self: flex-end;
    margin: 0 0 2rem 0;
}

.cht-msg-text {
    background: var(--white);
    color: var(--color-2);
    padding: .5rem;
    border-radius: var(--radius-1);
    border: 1px solid var(--color-5);
}

/* EMOJI SOZINHO - ------------- [begin] */
.cht-msg.emojis-tr .cht-msg-text {
    background: none;
    border: none;
    padding: .5rem 0 0 0;
    width: 7rem;
    text-align: center;
}

.cht-msg.emojis-tr.me .cht-msg-text {
    width: initial;
}

.cht-msg-text span.emojis-one {
    font-size: 4rem;
    animation: heart 1s infinite ease-out;
    border-radius: var(--radius-50);
    display: block;
}
.cht-msg.emojis-tr.me .cht-msg-text span.emojis-one {
    font-size: 2rem;
    animation: none;
}
/* EMOJI SOZINHO - ------------- [end] */

.cht-msg.me .cht-msg-text {
    background: none;
    border: none;
    padding: .5rem 0;
}

.cht-msg-data {
    font-size: .6rem;
    display: flex;
    justify-content: flex-start;
    padding: .3rem 0 0 0;
}

.cht-msg.me .cht-msg-data {
    justify-content: flex-end;
    padding: 0;
    margin-top: -.3rem;
}

.cht-date {
    padding: 0 .5rem;
    color: var(--color-3);
}

.cht-status {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-6);
}

.cht-status.viewed {
    color: var(--color-7);
}

.cht-msg.me .cht-status {
    visibility: visible;
}

.cht-status i {
    font-size: .8rem;
}

.cht-content .separator {
    border-top: 1px dashed var(--color-4);
    height: 0;
    margin: 0 0 2rem 0;
}

.cht-content .chat-final {
    background: var(--color-2);
    color: var(--white);
    height: 4rem;
}

.cht-loader {
    position: absolute;
    z-index: 1;
    margin-top: -1rem;
}



/* --------------- BOTTOM BAR -------------- */
.cht-bottom-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 78px;
    z-index: 600;
    border-top: var(--color-4) 2px solid;
    background: var(--color-5);
    color: var(--color-4);
}

.cht-bottom-bar .container {
    flex-direction: column;
    min-height: auto !important;
}


.cht-emoji i {}

.cht-emojis {
    position: absolute;
    bottom: 0px;
    background: var(--color-2);
    padding: 1rem;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.cht-emojis.on {
    display: flex;
}

.cht-emojis span,
.cht-emojis i {
    font-size: 1.5rem;
    padding: 1px;
}

.cht-emojis i {
    color: var(--white);
    border-radius: var(--radius-50);
    border: 1px solid var(--color-6);
    margin: .5rem .2rem 0 0;
}

/* ---------------------BOTTOM BAR CONTROL --------------------*/
.cht-control {
    display: flex;
    width: 100%;
}

.cht-control i {
    color: var(--color-2);
}

.cht-emoji,
.cht-send {
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cht-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: var(--white);
    color: var(--color-2);
    min-height: calc(78px - 2.6rem);
    max-height: calc(78px - .6rem);
    overflow: auto;
    padding: .5rem;
    border-radius: var(--radius-1);
}

.cht-send {}

.cht-send i {}


@media screen and (min-width: 600px) {

    .cht-emojis span,
    .cht-emojis i {
        font-size: 2.5rem;
        padding: 1px;
    }

    .cht-msg.emojis-tr.me .cht-msg-text span.emojis-one {
        font-size: 3rem;
    }
}